body {
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    height: 75px;
}

.logo {
    font-size: 20px;
    color: #F9FAF8;
    font-weight: bold;
    padding-left: 110px;
    padding-top: 15px;
}

.links {
    display: flex;
    margin-left: auto;
    padding-right: 110px;
    padding-top: 15px;
}

ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
  }
  
  a {
    font-size: 16px;
    background: rgba(255, 255, 255, 0);
    color: #c6c8c9;
    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .sign-up-box {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-top: 12px;
    height: 325px;
    padding-bottom: 100px;
    justify-content: space-between;
  }

  .sign-up-text {
    display: flex;
    flex-direction: column;
    padding-left: 110px;
    justify-content: top;
    color: #f9faf8c5;
    font-size: 13px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 10px;
    width: 400px;
  }

  .hero-text {
    font-size: 40px;
    font-weight: bold;
    color: #F9FAF8;
    margin-top: 0;
    margin-bottom: 0;
  }

  .sign-up-image {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    color: white;
    background-color: rgb(128,128,128);
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 150px;
    margin-right: 110px;
    margin-left: auto;
  }


  .sign-up-button {
    border-radius: 5px;
    border-color: rgb(0, 132, 255);
    color: white;
    background-color: rgb(0, 132, 255);
    width: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .random-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .random-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .card-container {
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding-left: 40px;
    padding-right: 40px;
    /* flex-basis: 510px; */
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
  }

  .card-image {
    height: 125px;
    width: 125px;
    border: 2px solid #3882f6;
    border-radius: 10px;
  }

  .card-text {
    text-align: center;
  }

  .quote-container {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .quote {
    /* padding-left: 250px;
    padding-right: 250px; */
    justify-content: center;
  }

  .quote-text {
    font-size: 24px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 4px;
    width: 525px;
  }

  .quoted {
    margin-top: 0;
    text-align: right;
    font-weight: bold;
  }

  .CTA-container {
    display: flex;
    justify-content: center;
  }

  .CTA {
    background-color: #3882f6;
    margin-top: 75px;
    margin-bottom: 75px;
    width: 700px;
    border-radius: 10px;
    display: flex;
    padding: 15px 40px 15px 40px;
    align-items: center;
  }

  .CTA-text {
    color: white;
    /* border: 2px solid red; */
    flex: 1;
  }

  .CTA-button-container {
    /* border: 2px solid green; */
    flex: 0.5;
    display: flex;
    justify-content: center;

  }

  
  .CTA-button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    width: 90px;
    height: 30px;
  }

  .CTA-text h3 {
    margin-bottom: 0px;
  }

  .CTA-text p {
    margin-top: 5px;
  }

  .footer-container {
    margin-top: auto;
    background-color: #1F2937;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    color: white;
    text-align: center;
  }